start.list
clear.list
ipfw.rules
*.pyc

db
game
alog
auth
chan
bin

*.core
.svn
*.gr2
*.dds
*.tga
*.jpg
*.jpeg
*.mde
*.mdatr

*.tar
*.tgz
*.txz
*.rar
*.zip
*.7z
*.gz
*.xz

*.o
*.obj
a.out

pre_qc
object

!main/baks/db
log.txt

/.project
./main/srv1/public
